[Unit]
Description=YOLO FastAPI Server
After=network.target

[Service]
Type=simple

User=root
Group=root

WorkingDirectory=/home/furuya

ExecStart=/home/furuya/venv/bin/python -m uvicorn main:app --host 127.0.0.1 --port 5001

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target